The questions are:   
1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave    
2 .Total working days for each agents    
3. Total query that you hvae taken    
4. total Feedback that you have received     
5. a agent name who have average rating between 3.5 to 4    
6 . Agent name who have rating lesss then 3.5    
7 . agent name who have rating more then 4.5    
8 . how many feedaback agents have received more then 4.5 average   
9 . average weekly response time for each agent     
10 . average weekely resolution time for each agents     
11 . list of all agents name    
12 . percentage of chat on which they have received a feedback     
13 . Total contributation hour for each and every agents weekly basis     
14. total percentage of active hour for a month

In [1]:
import pandas as pd

In [46]:
login = pd.read_excel(r"D:/iNeuron/dataBase/agentLogin.xlsx")
perform = pd.read_excel(r"D:/iNeuron/dataBase/agentPerformance.xlsx")

In [38]:
perform.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SL No                    2160 non-null   int64
 1   Date                     2160 non-null   datetime64[ns]
 2   Agent Name               2160 non-null   object
 3   Total Chats              2160 non-null   int64
 4   Average Response Time    2160 non-null   object
 5   Average Resolution Time  2160 non-null   object
 6   Average Rating           2160 non-null   float64
 7   Total Feedback           2160 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 135.1+ KB

In [41]:
login.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SL No        1000 non-null   int64
 1   Agent        1000 non-null   object
 2   Date         1000 non-null   datetime64[ns]
 3   Login Time   1000 non-null   object
 4   Logout Time  1000 non-null   object
 5   Duration     1000 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 47.0+ KB

In [48]:
'''We will have to change the datatypes for the analysis.'''
login['Login Time'] = pd.to_datetime(login['Login Time'], format='%H:%M:%S')
login['Logout Time'] = pd.to_datetime(login['Logout Time'], format='%H:%M:%S')
# Iam unable to directly change the DURATION TO timedelta type, so we created a new columns for analysis
login['Duration New'] = login['Logout Time'] - login['Login Time']

perform['Average Response Time'] = pd.to_datetime(perform['Average Response Time'], format='%H:%M:%S')
perform['Average Resolution Time'] = pd.to_datetime(perform['Average Resolution Time'], format='%H:%M:%S')

In [49]:
login.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SL No         1000 non-null   int64
 1   Agent         1000 non-null   object
 2   Date          1000 non-null   datetime64[ns]
 3   Login Time    1000 non-null   datetime64[ns]
 4   Logout Time   1000 non-null   datetime64[ns]
 5   Duration      1000 non-null   object
 6   Duration New  1000 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), int64(1), object(2), timedelta64[ns](1)
memory usage: 54.8+ KB

In [50]:
perform.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SL No                    2160 non-null   int64
 1   Date                     2160 non-null   datetime64[ns]
 2   Agent Name               2160 non-null   object
 3   Total Chats              2160 non-null   int64
 4   Average Response Time    2160 non-null   datetime64[ns]
 5   Average Resolution Time  2160 non-null   datetime64[ns]
 6   Average Rating           2160 non-null   float64
 7   Total Feedback           2160 non-null   int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(1)
memory usage: 135.1+ KB

In [114]:
# Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
# We will find the total values of rating in  aweek and then take the mean by suing isocalendar method
perform.groupby('Agent Name')['Average Rating'].mean()[perform['Date'].dt.isocalendar()['week']]

Agent Name
Mahak           0.100000
Mahak           0.100000
Mahak           0.100000
Mahak           0.100000
Mahak           0.100000
                  ...
Jayant Kumar    1.068667
Jayant Kumar    1.068667
Jayant Kumar    1.068667
Jayant Kumar    1.068667
Jayant Kumar    1.068667
Name: Average Rating, Length: 2160, dtype: float64

In [115]:
perform['Date'].dt.isocalendar()['week']

0       30
1       30
2       30
3       30
4       30
        ..
2155    26
2156    26
2157    26
2158    26
2159    26
Name: week, Length: 2160, dtype: UInt32

In [108]:
perform.groupby('Agent Name')['Average Rating'].mean()[perform['Date'].dt.isocalendar()['week']].describe()

count    2160.000000
mean        2.546378
std         1.424863
min         0.100000
25%         1.068667
50%         3.167000
75%         3.498667
max         3.703667
Name: Average Rating, dtype: float64

In [68]:
# 2 .Total working days for each agents
perform.groupby('Agent Name')['Date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

In [70]:
# 3. Total query that you hvae taken

perform.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [71]:
# 4. total Feedback that you have received
perform.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [83]:
# 5. a agent name who have average rating between 3.5 to 4
perform[(perform['Average Rating'] >= 3.5) & (perform['Average Rating'] <= 4.0)]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
4,5,2022-07-30,Swati,14,1900-01-01 00:01:11,1900-01-01 00:16:33,3.67,6
10,11,2022-07-30,Manjunatha A,11,1900-01-01 00:00:47,1900-01-01 00:42:56,3.60,5
73,74,2022-07-29,Boktiar Ahmed Bappy,11,1900-01-01 00:01:59,1900-01-01 00:18:25,4.00,5
76,77,2022-07-29,Prateek _iot,8,1900-01-01 00:00:36,1900-01-01 00:10:41,3.75,4
78,79,2022-07-29,Nandani Gupta,24,1900-01-01 00:01:24,1900-01-01 00:28:53,3.79,14
...,...,...,...,...,...,...,...,...
1941,1942,2022-07-04,Jawala Prakash,6,1900-01-01 00:00:44,1900-01-01 00:02:28,3.80,5
2018,2019,2022-07-02,Sanjeev Kumar,14,1900-01-01 00:01:34,1900-01-01 00:18:20,4.00,12
2021,2022,2022-07-02,Aditya Shinde,57,1900-01-01 00:01:26,1900-01-01 00:19:52,3.54,28
2023,2024,2022-07-02,Deepranjan Gupta,52,1900-01-01 00:01:10,1900-01-01 00:35:14,3.71,24
2097,2098,2022-07-01,Sanjeev Kumar,22,1900-01-01 00:01:12,1900-01-01 00:30:34,4.00,13

In [98]:
pd.unique(perform['Agent Name'][(perform['Average Rating'] >= 3.5) & (perform['Average Rating'] <= 4.0)])

array(['Swati', 'Manjunatha A', 'Boktiar Ahmed Bappy', 'Prateek _iot',
       'Nandani Gupta', 'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan',
       'Hrisikesh Neogi', 'Muskan Garg', 'Khushboo Priya', 'Wasim',
       'Jawala Prakash', 'Shiva Srivastava', 'Nishtha Jain', 'Maitry',
       'Prerna Singh', 'Shivan K', 'Chaitra K Hiremath',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Madhulika G',
       'Rishav Dash', 'Prabir Kumar Satapathy', 'Mithun S', 'Aditya_iot',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Ameya Jain', 'Sanjeev Kumar', 'Sandipan Saha', 'Anirudh',
       'Jayant Kumar', 'Maneesh', 'Anurag Tiwari', 'Saurabh Shukla',
       'Ashad Nasim', 'Shubham Sharma', 'Aditya Shinde'], dtype=object)

In [97]:
# 6 . Agent name who have rating lesss then 3.5

pd.unique(perform['Agent Name'][perform['Average Rating'] < 3.5])

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan', 'Anirudh',
       'Shiva Srivastava', 'Dibyanshu', 'Ashish', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim', 'Samprit',
       'Maitry', 'Abhishek', 'Rishav Dash', 'Aravind', 'Tarun',
       'Muskan Garg', 'Ankit Sharma', 'Bharath', 'Ashad Nasim',
       'Vasanth P', 'Aditya', 'Amersh', 'Sandipan Saha',
       'Ineuron Intelligence', 'Mahak', 'Mukesh Rao', 'Zeeshan',
       'Anurag Tiwari', 'Ankitjha', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh', 'Hyder Abbas', 'Rohan', 'Vivek',
       'Nitin M', 'Shivan_S', 'Spuri', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar', 'Mukesh',
       'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh', 'Suraj S Bilgi',
       'Shivan K', 'Mahesh Sarade', 'Madhulika G', 'Boktiar Ahmed Bappy',
       'Deepranjan Gupta', 'Ishawant Kumar', 'Shivananda Sonwane'],
      dtype=object)

In [96]:
#7. agent name who have rating more then 4.5
pd.unique(perform['Agent Name'][perform['Average Rating'] > 4.5])

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim',
       'Bharath', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati', 'Shubham Sharma', 'Aravind',
       'Zeeshan', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh', 'Jayant Kumar',
       'Mukesh Rao', 'Vivek', 'Ankitjha'], dtype=object)

In [95]:
#8 . how many feedaback agents have received more then 4.5 average
perform['Agent Name'][perform['Average Rating'] > 4.5].nunique()

47

In [116]:
#9. Average weekly response time for each agent
perform.groupby('Agent Name')['Average Response Time'].mean()[perform['Date'].dt.isocalendar()['week']]

Agent Name
Mahak          1900-01-01 00:00:00.000000000
Mahak          1900-01-01 00:00:00.000000000
Mahak          1900-01-01 00:00:00.000000000
Mahak          1900-01-01 00:00:00.000000000
Mahak          1900-01-01 00:00:00.000000000
                            ...
Jayant Kumar   1900-01-01 00:00:18.433333504
Jayant Kumar   1900-01-01 00:00:18.433333504
Jayant Kumar   1900-01-01 00:00:18.433333504
Jayant Kumar   1900-01-01 00:00:18.433333504
Jayant Kumar   1900-01-01 00:00:18.433333504
Name: Average Response Time, Length: 2160, dtype: datetime64[ns]

In [117]:
#10. average weekely resolution time for each agents
perform.groupby('Agent Name')['Average Resolution Time'].mean()[perform['Date'].dt.isocalendar()['week']]

Agent Name
Mahak          1900-01-01 00:00:40.133333248
Mahak          1900-01-01 00:00:40.133333248
Mahak          1900-01-01 00:00:40.133333248
Mahak          1900-01-01 00:00:40.133333248
Mahak          1900-01-01 00:00:40.133333248
                            ...
Jayant Kumar   1900-01-01 00:04:54.933333248
Jayant Kumar   1900-01-01 00:04:54.933333248
Jayant Kumar   1900-01-01 00:04:54.933333248
Jayant Kumar   1900-01-01 00:04:54.933333248
Jayant Kumar   1900-01-01 00:04:54.933333248
Name: Average Resolution Time, Length: 2160, dtype: datetime64[ns]

In [118]:
#11 . list of all agents name
pd.unique(perform['Agent Name'])

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati', 'Mukesh', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan', 'Anirudh', 'Shiva Srivastava',
       'Dibyanshu', 'Ashish', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim', 'Samprit', 'Maitry', 'Abhishek',
       'Rishav Dash', 'Aravind', 'Tarun', 'Muskan Garg', 'Ankit Sharma',
       'Bharath', 'Ashad Nasim', 'Vasanth P', 'Aditya', 'Amersh',
       'Sandipan Saha', 'Ineuron Intelligence', 'Mahak', 'Mukesh Rao',
       'Zeeshan', 'Anurag Tiwari', 'Ankitjha', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh', 'Hyder Abbas',
       'Rohan', 'Vivek', 'Nitin M', 'Shivan_S', 'Spuri', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot', 'Boktiar Ahmed Bappy',
       'Shivananda Sonwane', 'Ishawant Kumar', 'Deepranjan Gupta',
       'Jawala Prakash'], dtype=object)

In [125]:
#12. percentage of chat on which they have received a feedback

# making new columns of cummulative chat values

perform['CumChats'] = perform[['Agent Name', 'Total Chats']].groupby('Agent Name').cumsum()

In [127]:
# column for cummulative Feedback value 
perform['CumFeeds'] = perform[['Agent Name', 'Total Feedback']].groupby('Agent Name').cumsum()

In [128]:
perform.tail()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,CumChats,CumFeeds
2155,2156,2022-07-01,Sowmiya Sivakumar,0,1900-01-01,1900-01-01,0.0,0,206,141
2156,2157,2022-07-01,Nitin M,0,1900-01-01,1900-01-01,0.0,0,0,0
2157,2158,2022-07-01,Vivek,0,1900-01-01,1900-01-01,0.0,0,44,20
2158,2159,2022-07-01,Ayushi Mishra,0,1900-01-01,1900-01-01,0.0,0,514,329
2159,2160,2022-07-01,Chaitra K Hiremath,0,1900-01-01,1900-01-01,0.0,0,64,37

In [142]:
# new column for the % value

for i in perform['SL No']:
    try:
        perform['pccf'] = (perform['CumFeeds']/perform['CumChats'])*100
    except:
        perform['pccf'] = 0

In [143]:
perform[['Agent Name','pccf']].tail()

              Agent Name       pccf
2155   Sowmiya Sivakumar  68.446602
2156             Nitin M        NaN
2157               Vivek  45.454545
2158       Ayushi Mishra  64.007782
2159  Chaitra K Hiremath  57.812500

In [144]:
perform.groupby('Agent Name')['pccf'].max()

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    57.894737
Aditya_iot       86.666667
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            45.454545
Wasim            71.515152
Zeeshan          72.727273
Name: pccf, Length: 70, dtype: float64

In [161]:
#13. Total contributation hour for each and every agents weekly basis

# This question is for the login dataset

login.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,Duration New
0,1,Shivananda Sonwane,2022-07-30,1900-01-01 15:35:29,1900-01-01 17:39:39,02:04:10,0 days 02:04:10
1,2,Khushboo Priya,2022-07-30,1900-01-01 15:06:59,1900-01-01 15:07:16,00:00:17,0 days 00:00:17
2,3,Nandani Gupta,2022-07-30,1900-01-01 15:04:24,1900-01-01 17:31:07,02:26:42,0 days 02:26:43
3,4,Hrisikesh Neogi,2022-07-30,1900-01-01 14:34:29,1900-01-01 15:19:35,00:45:06,0 days 00:45:06
4,5,Mukesh,2022-07-30,1900-01-01 14:03:15,1900-01-01 15:11:52,01:08:36,0 days 01:08:37

In [164]:
login.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SL No         1000 non-null   int64
 1   Agent         1000 non-null   object
 2   Date          1000 non-null   datetime64[ns]
 3   Login Time    1000 non-null   datetime64[ns]
 4   Logout Time   1000 non-null   datetime64[ns]
 5   Duration      1000 non-null   object
 6   Duration New  1000 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), int64(1), object(2), timedelta64[ns](1)
memory usage: 54.8+ KB

In [177]:
login['Cumduration'] = login.groupby('Agent')['Duration New'].cumsum()

In [178]:
login[['Agent', 'Cumduration']].groupby('Agent').max()

                             Cumduration
Agent
Aditya Shinde            0 days 00:02:10
Aditya_iot               0 days 15:43:58
Amersh                   0 days 03:03:52
Ameya Jain               0 days 18:04:36
Ankitjha                 0 days 02:16:03
Anurag Tiwari            0 days 02:47:05
Aravind                  1 days 00:18:01
Ayushi Mishra            0 days 02:27:55
Bharath                  2 days 00:04:40
Boktiar Ahmed Bappy      0 days 00:42:30
Chaitra K Hiremath       1 days 10:19:38
Deepranjan Gupta       -1 days +10:02:29
Dibyanshu              -1 days +09:33:31
Harikrishnan Shaji       2 days 05:43:03
Hrisikesh Neogi          1 days 01:10:45
Hyder Abbas              0 days 00:23:18
Ineuron Intelligence     0 days 01:26:56
Ishawant Kumar           0 days 00:07:10
Jawala Prakash         -1 days +06:03:19
Jaydeep Dixit            1 days 11:50:29
Khushboo Priya           1 days 19:33:42
Madhulika G              1 days 22:03:43
Mahesh Sarade            0 days 18:55:28
Maitry                 -1 days +06:17:15
Manjunatha A             1 days 17:16:35
Mithun S                 1 days 21:10:30
Mukesh                   0 days 08:54:20
Muskan Garg              0 days 17:20:17
Nandani Gupta            1 days 16:10:25
Nishtha Jain             1 days 19:51:15
Nitin M                  0 days 00:47:56
Prabir Kumar Satapathy   1 days 09:22:51
Prateek _iot             0 days 18:25:10
Prerna Singh             1 days 21:43:02
Rishav Dash              1 days 17:46:39
Saikumarreddy N          1 days 19:08:21
Sanjeev Kumar            1 days 20:41:21
Saurabh Shukla           0 days 08:40:48
Shiva Srivastava         0 days 14:59:47
Shivan K                 1 days 12:06:23
Shivananda Sonwane       0 days 02:04:10
Shubham Sharma           0 days 08:06:46
Sowmiya Sivakumar        1 days 20:45:22
Sudhanshu Kumar          0 days 06:34:56
Suraj S Bilgi            0 days 12:33:36
Swati                    1 days 01:00:05
Tarun                    0 days 10:08:20
Wasim                    2 days 00:10:50
Zeeshan                  2 days 01:05:26

In [183]:
login.groupby('Agent')['Cumduration'].sum()[login['Date'].dt.isocalendar()['week']]

Agent
Nitin M         0 days 00:47:56
Nitin M         0 days 00:47:56
Nitin M         0 days 00:47:56
Nitin M         0 days 00:47:56
Nitin M         0 days 00:47:56
                     ...
Nishtha Jain   15 days 20:40:36
Nishtha Jain   15 days 20:40:36
Nishtha Jain   15 days 20:40:36
Nishtha Jain   15 days 20:40:36
Mukesh          0 days 17:03:58
Name: Cumduration, Length: 1000, dtype: timedelta64[ns]

In [187]:
# 14. total percentage of active hour for a month
login[['Agent', 'Cumduration']].groupby('Agent').max()*100/(30*24)

                                       Cumduration
Agent
Aditya Shinde            0 days 00:00:18.055555555
Aditya_iot               0 days 02:11:06.388888888
Amersh                   0 days 00:25:32.222222222
Ameya Jain               0 days 02:30:38.333333333
Ankitjha                    0 days 00:18:53.750000
Anurag Tiwari            0 days 00:23:12.361111111
Aravind                  0 days 03:22:30.138888888
Ayushi Mishra            0 days 00:20:32.638888888
Bharath                  0 days 06:40:38.888888888
Boktiar Ahmed Bappy      0 days 00:05:54.166666666
Chaitra K Hiremath       0 days 04:46:03.611111111
Deepranjan Gupta       -1 days +22:03:40.694444445
Dibyanshu              -1 days +21:59:39.305555556
Harikrishnan Shaji          0 days 07:27:38.750000
Hrisikesh Neogi          0 days 03:29:49.583333333
Hyder Abbas              0 days 00:03:14.166666666
Ineuron Intelligence     0 days 00:12:04.444444444
Ishawant Kumar           0 days 00:00:59.722222222
Jawala Prakash         -1 days +21:30:27.638888889
Jaydeep Dixit            0 days 04:58:40.694444444
Khushboo Priya           0 days 06:03:00.833333333
Madhulika G              0 days 06:23:50.972222222
Mahesh Sarade            0 days 02:37:42.222222222
Maitry                    -1 days +21:32:23.750000
Manjunatha A             0 days 05:43:58.194444444
Mithun S                    0 days 06:16:27.500000
Mukesh                   0 days 01:14:12.777777777
Muskan Garg              0 days 02:24:29.027777777
Nandani Gupta            0 days 05:34:46.805555555
Nishtha Jain             0 days 06:05:27.083333333
Nitin M                  0 days 00:06:39.444444444
Prabir Kumar Satapathy   0 days 04:38:10.416666666
Prateek _iot             0 days 02:33:29.722222222
Prerna Singh             0 days 06:20:58.611111111
Rishav Dash                 0 days 05:48:08.750000
Saikumarreddy N          0 days 05:59:29.583333333
Sanjeev Kumar            0 days 06:12:24.583333333
Saurabh Shukla                     0 days 01:12:20
Shiva Srivastava         0 days 02:04:58.194444444
Shivan K                 0 days 05:00:53.194444444
Shivananda Sonwane       0 days 00:17:14.722222222
Shubham Sharma           0 days 01:07:36.388888888
Sowmiya Sivakumar        0 days 06:12:58.055555555
Sudhanshu Kumar          0 days 00:54:51.111111111
Suraj S Bilgi                      0 days 01:44:40
Swati                    0 days 03:28:20.694444444
Tarun                    0 days 01:24:29.444444444
Wasim                    0 days 06:41:30.277777777
Zeeshan                  0 days 06:49:05.277777777

In [188]:
'''
I have not understood handling the time duration data. Hence satisfied with solutions of 13 & 14. 
'''

'\nI have not understood handling the time duration data. Hence satisfied with solutions of 13 & 14. \n'